@charset "utf-8";

@media all {

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: medium none;
	padding: 0;
	vertical-align: baseline;
}

/* CSS Grid */
.g160,.g320,.g480,.g640,.g800,.g960,.g80,.g240,.g400,.g560,.g720,.g880,.g960 {
	margin-left:10px;
	float:left;
	display:inline;
} 

/* 6 columns */
.g160{width:150px;}
.g320{width:310px;}
.g480{width:470px;}
.g640{width:630px;}
.g800{width:790px;}
.g960{width:950px;}

/* 12 columns */
.g80 {width:70px;}
.g240{width:230px;}
.g400{width:390px;}
.g560{width:550px;}
.g720{width:710px;}
.g880{width:870px;}

/* margin */
.ml80 {margin-left:90px;}
.ml160{margin-left:170px;}
.ml240{margin-left:250px;}
.ml320{margin-left:330px;}
.ml400{margin-left:410px;}
.ml480{margin-left:490px;}
.ml560{margin-left:560px;}
.ml640{margin-left:650px;}
.ml720{margin-left:730px;}
.ml800{margin-left:810px;}
.ml880{margin-left:890px;}
.ml960{margin-left:970px;}

.inside{margin-left:0;}

p.grid{padding-left:10px;}
  
.clear{clear:both;}
.clearfix, .main{display:block;} 

.clearfix:after, .main:after {
 height:0;
 visibility:hidden;
 display:block;
 font-size:0;
 content:" ";
 clear:both
}



/* Layout */
html, body {
	height: 100%;
}


body {
	color: #1A3960;
	font: 75%/1.5em Arial,Helvetica,sans-serif;
	/* background: url(images/skifta-body-tile.gif) repeat-x scroll 0 0 #F7F8FC; */
	background: url(images/skifta_configurator_background.png) no-repeat center 0px;
}

/* Container and main */
#maincontainer {
	width: 100%;
	min-height: 100%;
	margin:0 auto;
	/* background:url(images/skifta-body.jpg) no-repeat center -135px; */
}
.main {
	width:	970px;
	margin:	0 auto;
	padding:0 0 20px;
	overflow:	hidden;
	background: none repeat scroll 0 0 transparent;
}

/****************************
 Header
*****************************/
#header{
	position: relative;
	width: 960px;
	height: 120px;
}

.lang_div {
	margin-left: 670px;
}

#lang_menu {
	margin: 0;
	padding: 0;
}

#lang_menu li {
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#lang_menu li > a {
	display: block;
	background: #181947;
	padding: 2px 12px;
	text-decoration: none;
	font-size: 14px;
	width: 100px;
	color: #EAFFED;
	white-space: nowrap;
}

#lang_menu li a:hover {
	background:	#0C1421;
}

#lang_menu li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}

#lang_menu li ul li
{
	float: none;
	display: inline;
}

#lang_menu li ul li a {
	display: block;
	padding: 2px 12px;
	text-decoration: none;
	font-size: 12px;
	color: #EAFFED;
	white-space: nowrap;
	width: auto;
	background: #181947;
}

#lang_menu li ul li a:hover {
	background: #0C1421;
}

.logo {
	margin:	16px 0 0 10px;
	float:	left;
}


.logo a {
	width:	156px;
	height:	84px;
	display:block;
	overflow:hidden;
	text-indent:-10000px;
	text-decoration:none;
}
.main h2 {
	margin: 15px auto;
}
/*
 * Footer
 */
.footer {
	margin: 10px auto;
	width: 970px;
}

.copyright {
	text-align: center;
}

.sam_container {
	position: relative;
	height: 400px;
}

.center_container {
	margin: 30px auto auto auto;
	width: 720px;
	height: 350px;
}
.center_container div {
	margin-left: 240px;
	width: 420px;
}
.center_container h3 {
	font-size: 14px;
	color: #183862;
	border-bottom: 1px solid #e3e3e3;
}
.center_container h4 {
	text-align: right;
	color: #183862;
	margin-top: 20px;
	margin-bottom: 20px;
}
.center_container label {
	color: #183862;
	font-size: 12px;
}
/*
 Index
*/

#friend_container {
	background: url(images/skifta_screen1B.png) no-repeat center center;
}

#friend-name-form input {
	margin-left: 20px;
	width: 240px;
	height: 22px;
	padding: 0px 5px;
}



/*
select
*/
#select_container {
	background: url(images/skifta_screen2B.png) no-repeat center center;
}

#select_container table tr {
	height: 33px;
}

#select_container table tr td {
	border: 0px;
	align: right;
	vertical-align: middle;
}

#select_container table tr td input {
	margin-left: 25px;
	width: 250px;
	height: 22px;
	padding: 0px 5px;
}
#select_container table tr td select {
	width: 250px;
	border-width: 1px;
	height: 22px;
	padding: 0px 5px;
}

#select_container table tr td input:hover,
#select_container table tr td select:hover,
#friend-name-form input:hover,
#network_ssid_title:hover,
#security_mode_title:hover  {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#select_container table tr td input:focus,
#select_container table tr td select:focus,
#friend-name-form input:focus,
#network_ssid_title:focus,
#security_mode_title:focus {
	outline: none;
	border: 1px solid #4d90fe;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

/* fix the select layout */
#network_ssid_msdd,
#network_ssid_msddHolder,
#security_mode_msdd,
#security_mode_msddHolder {
	margin-left: 25px;
	vertical-align: top;
}

#network_ssid_title,
#security_mode_title {
	margin-left: 0px;
}

#network_ssid_title span,
#security_mode_title span {
	vertical-align: top;
}

.dd .ddTitle {
	width: 250px;
	vertical-align: top;
}

/* wifi connected layout*/
#connected_msg {
	margin: 50px auto auto 50px;
	float: left;
	width: 500px;
}

#connected_pic {
	margin-top: 25px;
	margin-left: 600px;
}

#upload_file_form h4, #upload_file_form label {
	color: white;
}


/*
 * Font
*/
.main h2 {
	color: silver;
	font: 20px Arial,Helvetica,sans-serif;
}

.guidance {
	color: rgb(23,55,102);
	font: bold 14px Arial,Helvetica,sans-serif;
}
.sam_container legend {
	color: rgb(126,126,126);
	font: 16px Arial,Helvetica,sans-serif; 
}

.form_container label {
	color: rgb(126,126,126);
	font: bold 14px Arial,Helvetica,sans-serif;
}

#connected_msg h2 {
	font: bold 32px Arial,Helvetica,sans-serif;
	color: #EAFFED;
}
#connected_msg h3 {
	font: bold 16px Arial,Helvetica,sans-serif;
	color: #EAFFED;
}
#connected_msg p {
	font: 14px Arial,Helvetica,sans-serif;
	color: #EAFFED;
}

/* border */

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.luci {
	position: absolute;
	bottom: 0;
	left: 1em;
	height: 1.5em;
	font-size: 80%;
}

.luci a:link,
.luci a:visited {
	background-color: transparent;
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}

.inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #ff0000;
	background-color: #ffffff;
	color: #000000;
	padding: 0.5em;
}

.errorbox {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

.errorbox a {
	color: #000000 !important;
}

.ui-glass-style {
	border: 1px solid #cccccc;
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	color: rgb(25,55,98);
}

}
