@charset "utf-8";

@media all {

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: medium none;
	padding: 0;
	vertical-align: baseline;
}

/* CSS Grid */
.g160,.g320,.g480,.g640,.g800,.g960,.g80,.g240,.g400,.g560,.g720,.g880,.g960 {
	margin-left:10px;
	float:left;
	display:inline;
} 

/* 6 columns */
.g160{width:150px;}
.g320{width:310px;}
.g480{width:470px;}
.g640{width:630px;}
.g800{width:790px;}
.g960{width:950px;}

/* 12 columns */
.g80 {width:70px;}
.g240{width:230px;}
.g400{width:390px;}
.g560{width:550px;}
.g720{width:710px;}
.g880{width:870px;}

/* margin */
.ml80 {margin-left:90px;}
.ml160{margin-left:170px;}
.ml240{margin-left:250px;}
.ml320{margin-left:330px;}
.ml400{margin-left:410px;}
.ml480{margin-left:490px;}
.ml560{margin-left:560px;}
.ml640{margin-left:650px;}
.ml720{margin-left:730px;}
.ml800{margin-left:810px;}
.ml880{margin-left:890px;}
.ml960{margin-left:970px;}

.inside{margin-left:0;}

p.grid{padding-left:10px;}
  
.clear{clear:both;}
.clearfix, .main{display:block;} 

.clearfix:after, .main:after {
 height:0;
 visibility:hidden;
 display:block;
 font-size:0;
 content:" ";
 clear:both
}



/* Layout */
html, body {
	height: 100%;
}


body {
	color: #1A3960;
	font: 75%/1.5em Arial,Helvetica,sans-serif;
	background: url(images/skifta-body-tile.gif) repeat-x scroll 0 0 #F7F8FC;
}

/* Container and main */
#maincontainer {
	width: 100%;
	min-height: 100%;
	margin:0 auto;
	background:url(images/skifta-body.jpg) no-repeat center -135px;
}
.main {
	width:	970px;
	margin:	0 auto;
	padding:0 0 20px;
	overflow:	hidden;
	background: none repeat scroll 0 0 transparent;
}

/****************************
 Header
*****************************/
#header{
	position: relative;
}
.logo {
	margin:	16px 0 0 10px;
	background:	url(images/skifta-logo.png) no-repeat;
	float:	left;
}
.logo a {
	width:	156px;
	height:	84px;
	display:block;
	overflow:hidden;
	text-indent:-10000px;
	text-decoration:none;
}
.main h2 {
	margin: 15px auto;
}
/*
 * Footer
 */
.footer {
	margin: 10px auto;
	width: 970px;
}

.copyright {
	text-align: center;
}

/*
 SAM Container in wifi join
*/
.sam_container {
	position: relative;
	height: 360px;
	background: white;
}
.action_btns {
	position: relative;
	margin-top: 520px;
	height: 30px;
	width: 960px;
}

.guidance {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.form_container {

}
.guidance { 
	width: 320px;
	float: left;
}
.guidance table {
	border-collapse: collapse;
	background: url(images/guidance-body-tile.png) transparent scroll repeat-y -5px 0px;
}
.guidance table tr {
	height: 116px;
}
.guidance table tr td {
	vertical-align: middle;
	border: solid 1px rgb(210,210,210);
}
.guidance table tr td span {
	margin-left: 15px;
}

.form_container {
	position: absolute;
	margin-left: 325px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 617px;
	border-top: 1px solid rgb(210,210,210);
	border-bottom: 1px solid rgb(210,210,210);
	border-right: 1px solid rgb(210,210,210);
}
.config_form {
	margin:auto 10px;
}

.form_container table {
}

.form_container table tr {
	height: 113px;
}
.form_container table tr td {
	border: 0px;
	vertical-align: middle;
}

.form_container label {
	width: 200px;
	margin-left: 25px;
	display: block;
}

#network_ssid, #network_key, #dev_passwd {
	width: 500px;
	margin-left: 25px;
}

/*
 * Font
*/
.main h2 {
	color: silver;
	font: 20px Arial,Helvetica,sans-serif;
}

.guidance {
	color: rgb(23,55,102);
	font: bold 14px Arial,Helvetica,sans-serif;
}
.sam_container legend {
	color: rgb(126,126,126);
	font: 16px Arial,Helvetica,sans-serif; 
}

.form_container label {
	color: rgb(126,126,126);
	font: bold 14px Arial,Helvetica,sans-serif;
}

/* border */

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.luci {
	position: absolute;
	bottom: 0;
	left: 1em;
	height: 1.5em;
	font-size: 80%;
}

.luci a:link,
.luci a:visited {
	background-color: transparent;
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}

.inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #ff0000;
	background-color: #ffffff;
	color: #000000;
	padding: 0.5em;
}

.errorbox {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

.errorbox a {
	color: #000000 !important;
}

.ui-glass-style {
	border: 1px solid #cccccc;
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	color: rgb(25,55,98);
}

}
